{% extends 'base.html' %}

{% load bootstrap4 %}

{% block title %}Edit Project{% endblock %}


{% block content %}
  <h2 class="mt-3">Edit Project</h2>
  <form method="post">
    {% csrf_token %}
    {% bootstrap_form form %}
    <div class="col-sm">
      <br>
      <button type="submit" class="btn btn-primary float-right">Update Project</button>
    </div>
  </form>

  {% load static %}
  <script src="{% static 'js/new_project.js' %}"></script>
{% endblock %}
