{% extends 'base.html' %}

{% load bootstrap4 %}

{% block content %}
  <h2 class="mt-3">Edit Task</h2>
  <form method="post">
    {% csrf_token %}
    <div class="task"> 
        {% bootstrap_form form %}
        <div class="row">
            <div class="col-sm">
                <button id="add_task" class="btn btn-outline-secondary mb-3" type="submit" name="btnsave">Save Task</button>
                <br>
                <a id="remove_task" class="btn btn-outline-danger" role="button" href="{% url "task_confirm_delete" project_id=task.project.id pk=task.id %}">Remove Task</a>
            </div>
            
        </div>
    </div>
  </form>
  {% load static %}
{% endblock %}
