{% extends 'base.html' %}

{% load bootstrap4 %}
{% load static %}
{% load project_extras %}
{% load icons %}

{% block title %}Project{% endblock %}


{% block content %}
  <h3 class="my-3">{{ project.title }}</h3>
  {% if user.is_authenticated %}
    {% if user == project.user.user %}
      <div class="mt-0">
        <a role="button" class="btn btn-primary edit-button" href="{% url 'edit_project' project_id=project.id %}">Edit project details</a>
      </div>
    {% endif %}
  {% endif %}
  <p>Project status: {{project.get_status_display}}</p>

  <p>Project total budget: {{total_budget}}</p>
  
  <h3>Description</h3>
  <p class="project-description">{{ project.description }}</p>
  <h4>Category: {{project.category}}</h4>


    {% if user.is_authenticated %}
      {% if user == project.user.user %}

      {% if project.status == project.OPEN %}
      <h3 class="my-3">Tasks:</h3>
        <div id="task_container">
          {% for task in tasks %}
          <div class="task">
            <h4>{{task.title}}</h4>
            <p>Budget: {{task.budget}} </p>
            <p>Priority: {{task.priority_to_text}}</p>
            <p>Description: <br> {{task.description}}</p>
            {% if task|get_accepted_task_offer %}
            {% define task|get_accepted_task_offer as task_accepted_offer %}
            <button class="btn btn-primary" data-toggle="modal" data-target="#cannotEditTask{{task_offer.id}}">Edit Task</button>
            {% else %}
            <a role="button" class="btn btn-primary edit-button" href="{% url 'edit_task' project_id=project.id task_id=task.id %}">Edit Task</a>
            {% endif %}
          </div>
          {% endfor %}
        </div>

        <div class="modal fade" id="cannotEditTask{{task_offer.id}}" tabindex="-1" role="dialog" aria-labelledby="seeOfferModal{{task_offer.id}}Title" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="seeOfferModalTitle{{task_offer.id}}">Cannot Edit Task</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <p>You have accepted an offer for this task and can therefore not edit it.
                You can renegotiate the terms of the offer by clicking on the accepted offer lower on this page.</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>

        
        <div class="mt-5">
            <a role="button" class="btn btn-primary" href="{% url 'add_tasks' project_id=project.id %}">Add Tasks</a>
        </div>
  
        {% for task in tasks %}
        {% define task|get_all_taskoffers as task_offers %}


        {% if task|get_accepted_task_offer %}
        {% define task|get_accepted_task_offer as task_accepted_offer %}
        <h3 class="my-3">Accepted offer for <i>{{task.title}}</i></h3>

        <li class="list-group-item d-flex justify-content-between align-items-center"> Offer from {{task_accepted_offer.offerer.user.username}}
          <p>Status: {{task_accepted_offer.get_status_display}}</p>
          <div>
            <button class="btn btn-primary" data-toggle="modal" data-target="#seeOfferModal{{task_offer.id}}">View Offer</button>
          <div>
        </li>
        
        <div class="modal fade" id="seeOfferModal{{task_offer.id}}" tabindex="-1" role="dialog" aria-labelledby="seeOfferModal{{task_offer.id}}Title" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="seeOfferModalTitle{{task_offer.id}}">Offer for {{task.title}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <form method="post">
                <div class="modal-body">
                  <h3>Offer</h3>
                    <h4 class="mt-3">{{task_accepted_offer.title}}</h4>
                    <p>Status: {{task_accepted_offer.get_status_display}}</p>
                    <p>Description: <br> {{task_accepted_offer.description}}</p>
                    <p>Price offered: {{task_accepted_offer.price}} </p>
                    <p class="mt-2">Feedback given: <br> {{task_accepted_offer.feedback}}</p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-primary" data-dismiss="modal" data-toggle="modal" data-target="#renegotiateModal{{task_accepted_offer.id}}"">Renegotiate</button>
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
              </form>
            </div>
          </div>
        </div>

        <div class="modal fade" id="renegotiateModal{{task_accepted_offer.id}}" tabindex="-1" role="dialog" aria-labelledby="seeOfferModal{{task_offer.id}}Title" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="seeOfferModalTitle{{task_accepted_offer.id}}">Offer for {{task.title}}</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <form method="post">
                  <div class="modal-body">
                    <h3>Original Offer</h3>
                      <h4 class="mt-3">{{task_accepted_offer.title}}</h4>
                      <p>Status: {{task_accepted_offer.get_status_display}}</p>
                      <p>Description: <br> {{task_accepted_offer.description}}</p>
                      <p>Price offered: {{task_accepted_offer.price}} </p>
  
                      <h3 class="mt-3">Renegotiate: </h3>
                      {% csrf_token %}
                      {% bootstrap_form offer_renegotiate_form %}
                      <input type="hidden" name="taskofferid" value="{{task_accepted_offer.id}}">
  
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" name="offer_renegotiate" class="btn btn-primary">Send Renegotiated Offer</button>
                  </div>
                </form>
              </div>
            </div>
          </div>


        {% else %}
        

        {% for task_offer in task_offers %}
        {% if task_offer.status == 'p' %}
        <h3 class="my-3">Pending offers for <i>{{task.title}}</i></h3>
        <p>Accepting one offer will remove all other pending offers.</p>

        <li class="list-group-item d-flex justify-content-between align-items-center"> Offer from {{task_offer.offerer.user.username}}
          <p>Status: {{task_offer.get_status_display}}</p>
          <div>
            <button class="btn btn-primary" data-toggle="modal" data-target="#seeOfferModal{{task_offer.id}}">View Offer</button>
          </div>
        </li>

        <div class="modal fade" id="seeOfferModal{{task_offer.id}}" tabindex="-1" role="dialog" aria-labelledby="seeOfferModal{{task_offer.id}}Title" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="seeOfferModalTitle{{task_offer.id}}">Offer for {{task.title}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <form method="post">
                <div class="modal-body">
                  <h3>Offer from {{task_offer.offerer.user.username}}</h3>
                    <p>User rating: {{task_offer.offerer.user.profile.get_rating}}</p>
                    <p>Number of deliveries: {{task_offer.offerer.user.profile.num_ratings}}</p>
                    <h4 class="mt-3">{{task_offer.title}}</h4>
                    <p>Status: {{task_offer.get_status_display}}</p>
                    <p>Description: <br> {{task_offer.description}}</p>
                    <p>Price offered: {{task_offer.price}} </p>

                  <h3 class="mt-3">Response: </h3>
                    {% csrf_token %}
                    {% bootstrap_form offer_response_form %}
                    <input type="hidden" name="taskofferid" value="{{task_offer.id}}">

                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="submit" name="offer_response" class="btn btn-primary">Send Response</button>
                </div>
              </form>
            </div>
          </div>
        </div>

        {% endif %}
        {% endfor %}

        {% for task_offer in task_offers %}
        {% if task_offer.status == 'r' %}
        <h3 class="my-3">Pending renegotiated offers for <i>{{task.title}}</i></h3>
        <p>Awaiting acceptance from the offerer.</p>
        <li class="list-group-item d-flex justify-content-between align-items-center"> Offer from {{task_offer.offerer.user.username}}
          <p>Status: {{task_offer.get_status_display}}</p>
          <div>
            <button class="btn btn-primary" data-toggle="modal" data-target="#seeOfferModal{{task_offer.id}}">View Offer</button>
          </div>
        </li>

        <div class="modal fade" id="seeOfferModal{{task_offer.id}}" tabindex="-1" role="dialog" aria-labelledby="seeOfferModal{{task_offer.id}}Title" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="seeOfferModalTitle{{task_offer.id}}">Offer for {{task.title}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <form method="post">
                <div class="modal-body">
                  <h3>Offer</h3>
                    <h4 class="mt-3">{{task_offer.title}}</h4>
                    <p>Status: {{task_offer.get_status_display}}</p>
                    <p>Description: <br> {{task_offer.description}}</p>
                    <p>Price offered: {{task_offer.price}} </p>

                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
              </form>
            </div>
          </div>
        </div>

        {% endif %}
        {% endfor %}

        {% endif %}
        {% endfor %}


        {% else %}

        <p>Project participants: {{ project|get_project_participants_string}}</p>

          <h3 class="mb-3 mt-5">List of Tasks</h3>
          <div class="list-group">
            {% for task in tasks %}
            {% define task|get_accepted_task_offer as task_accepted_offer %}
            <a href="{% url 'task_view' project_id=project.id task_id=task.id %}" class="list-group-item list-group-item-action flex-column align-items-start my-1">
             <div class="d-flex w-100 justify-content-between align-items-center">
               <h5 class="mb-1">{% icon 'tasks' %} {{task.title}}</h5>
             </div>
               <div class="d-flex">
                 <div>
                   <p class="mb-1">Task status: {{task.get_status_display}}</p>
                 </div>
                 <div class= "ml-5">
                   <p class="mb-1">Solver: {{task_accepted_offer.offerer.user.username}} </p>
                 </div>
                 </div>
           </a>
            {% endfor %}
          </div>


      {% endif %}

      <div class="mt-5">
        <h3 class="mt-3">Change project status</h3>
        <form method="post">
          {% csrf_token %}
          {% bootstrap_form status_form %}
          <button class="btn btn-primary" name="status_change" type="submit">Change status</button>
        </form>
      </div>

      {% else %}



      {% if project.status == project.OPEN %}

      <h3 class="my-3">Tasks:</h3>
        <div id="task_container">
          {% for task in tasks %}
          <div class="task">
            <h4>{{task.title}}</h4>
            <p>Budget: {{task.budget}} </p>
            <p>Priority: {{task.priority_to_text}}</p>
            <p>Description: <br> {{task.description}}</p>
          </div>
          {% endfor %}
        </div>

            <h2 class="my-3">Make an offer</h2>
            <ul class="list-group">
          {% for task in tasks %}
            {% define task|check_taskoffers:user as task_user_offers %}
            {% if task_user_offers %}

            {% with offer=task_user_offers|last %}
            {% if offer.status != 'r' %}
              <li class="list-group-item d-flex justify-content-between align-items-center">{{task.title}}
                <div>
                  <label>Status:</label>
                  <button class="btn {% if offer.status == offer.PENDING %} btn-warning {% elif offer.status == 'a' %} btn-success {% elif offer.status == 'r' %} btn-info{% else %} btn-danger {% endif %}" data-toggle="modal" data-target="#makeOfferModal{{task.id}}">{{offer.get_status_display}}</button>
                <div>
              </li>

              <div class="modal fade" id="makeOfferModal{{task.id}}" tabindex="-1" role="dialog" aria-labelledby="makeOfferModal{{task.id}}Title" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="makeOfferModalTitle{{task.id}}">Make an offer for {{task.title}}</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <form method="post">
                      <div class="modal-body">
                        <h3>Last Offer </h3>
                          <h4 class="mt-3">{{offer.title}}</h4>
                          <p>Status: {{offer.get_status_display}}</p>
                          <p>Description: <br> {{offer.description}}</p>
                          <p>Price offered: {{offer.price}} </p>
                          {%if offer.status == 'a' or offer.status == 'd' %}
                          <p class="mt-2">Feedback from project owner: <br> {{offer.feedback}}</p>
                          {% endif %}

                          {% if offer.status == 'd' %}
                          <h3 class="mt-3">Make New Offer</h3>
                          {% csrf_token %}
                          {% bootstrap_form task_offer_form %}
                          <input type="hidden" name="taskvalue" value="{{task.id}}">
                          {% endif %}
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        {%if offer.status == 'd' %}
                        <button type="submit" name="offer_submit" class="btn btn-primary">Send New Offer</button>
                        {% endif %}
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            {% endif %}
            {% endwith %}

              {% else %}

                <li class="list-group-item d-flex justify-content-between align-items-center">{{task.title}}
                  <button class="btn btn-primary" data-toggle="modal" data-target="#makeOfferModal{{task.id}}">Make Offer</button>
                </li>

                <div class="modal fade" id="makeOfferModal{{task.id}}" tabindex="-1" role="dialog" aria-labelledby="makeOfferModal{{task.id}}Title" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="makeOfferModalTitle{{task.id}}">Make an offer for {{task.title}}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <form method="post">
                        <div class="modal-body">
                          {% csrf_token %}
                          {% bootstrap_form task_offer_form %}
                          <input type="hidden" name="taskvalue" value="{{task.id}}">
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                          <button type="submit" name="offer_submit" class="btn btn-primary">Send Offer</button>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>

              {% endif %}
            {% endfor %}

          </ul>

          <h2 class="my-3">Respond to a Renegotiation</h2>
            <ul class="list-group">
            {% for task in tasks %}
            {% define task|check_taskoffers:user as task_user_offers %}
            {% if task_user_offers %}
            {% with offer=task_user_offers|last %}
            {% if offer.status == 'r' %}
            <li class="list-group-item d-flex justify-content-between align-items-center">{{task.title}}
                <div>
                  <label>Status:</label>
                  <button class="btn {% if offer.status == offer.PENDING %} btn-warning {% elif offer.status == 'a' %} btn-success {% elif offer.status == 'r' %} btn-info{% else %} btn-danger {% endif %}" data-toggle="modal" data-target="#makeOfferModal{{task.id}}">{{offer.get_status_display}}</button>
                <div>
              </li>

              <div class="modal fade" id="makeOfferModal{{task.id}}" tabindex="-1" role="dialog" aria-labelledby="makeOfferModal{{task.id}}Title" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="makeOfferModalTitle{{task.id}}">Renegotiated offer for {{task.title}}</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <form method="post">
                      <div class="modal-body">
                        <h3> Offer </h3>
                          <h4 class="mt-3">{{offer.title}}</h4>
                          <p>Status: {{offer.get_status_display}}</p>
                          <p>Description: <br> {{offer.description}}</p>
                          <p>Price offered: {{offer.price}} </p>
                          <p class="mt-2">Message from project owner: <br> {{offer.feedback}}</p>
                        <h3 class="mt-3">Response: </h3>
                          {% csrf_token %}
                          {% bootstrap_form offer_response_form %}
                          <input type="hidden" name="taskofferid" value="{{offer.id}}">
                      </div>

                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" name="renegotiation_response" class="btn btn-primary">Send Response</button>
                        {%if offer.status == 'd' %}
                        {% endif %}
                      </div>
                    </form>
                  </div>
                </div>
              </div>
              {% endif %}
              {% endwith %}
              {% endif %}
              {% endfor %}

        {% else %}

        <h3 class="mb-3 mt-5">Tasks you have access to</h3>
        <div class="list-group">
          {% for task in tasks %}
          <a href="{% url 'task_view' project_id=project.id task_id=task.id %}" class="list-group-item list-group-item-action flex-column align-items-start my-1">
           <div class="d-flex w-100 justify-content-between align-items-center">
             <h5 class="mb-1">{% icon 'tasks' %} {{task.title}}</h5>
           </div>
             <div class="d-flex">
               <div>
                 <p class="mb-1">Task status: {{task.get_status_display}}</p>
               </div>
             </div>
         </a>
          {% endfor %}
        </div>

        {% endif %}

      {% endif %}

    {%endif%}
{% endblock %}
