{% extends 'base.html' %}

{% load bootstrap4 %}

{% block title %}Project{% endblock %}


{% block content %}
  <h3>{{ project.title }}</h3>
  <p>{{ project.description }}</p>

  <h3>Task: {{task.title}}</h3>
    <form enctype="multipart/form-data" method="post">
      {% csrf_token %}

      {% bootstrap_form form %}
    <button type="submit">Give permission</button>
  </form>
  {% load static %}
{% endblock %}
